@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

font-face {
    font-family: 'Haffer';
    src: local('Haffer'), url(../fonts/Haffer-Bold.otf) format('otf');
}

.nav-button {
    width: 30px
}